.profileEdit {
  text-align: center;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileEdit h1 {
  text-decoration: underline;
  margin-bottom: 1rem;
}
