.container {
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
}

.content {
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  color: grey;
}

.postTitle {
  font-size: 35px;
  margin: 0px;
}

.stats {
  margin-top: 10px;
  color: gray;
  font-size: 15px;
}

.statsEntry {
  margin-left: 4px;
  margin-right: 4px;
}

.statsEntry span {
  padding-left: 2px;
}
